version: '3'
services:
  web:
    build: .
    tty: true
    volumes:
      - ../:/workspace
      - ../data:/data
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      DB_PASSWORD: password

  db:
    image: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ../data:/data
    environment:
      POSTGRES_DB: financedb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
volumes:
  postgres_data:
